<h2>Showing selected report</h2>

<p>
	Title: <%= @report.title %>
 </p>
<p>
	Description: <%= @report.description %> 
</p>
<%= link_to "Edit Report", edit_report_path(@report) %></br>
<%= link_to "<-Back", reports_path %>